body{
	text-align: center;
	overflow: auto;
	padding: 0px;
}

#game{
	position: relative;
	margin:0 auto;
}

.cnv{
	position: fixed;
	top: 0px;
	left: 0px;
}

#canvasHex{
	background-color: black;
	z-index: 1;
}

#canvasFood{
	background-color: transparent;
	z-index: 2;
}

#canvasSnake{
	background-color: transparent;
	z-index: 3;
}